extends ../common/layout

block content
    br
    .container(style="max-width: 1540px; margin: auto;")
        .card-deck(style="margin-left: 120px;")
            each recipe in recipes.results
                form(action="/recipe" method="POST")
                    input.form-control(type="hidden" name="retRecipe" value=recipe)
                    button(name="action" value="blue" style="border: 0; margin: 0; background-color: #FAFAFA; text-align: left;")
                        include recipe.pug
            else
                li There are no values


